<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>634669023130-gej4004j45qnkfu84qondno1slnn94ft.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.634669023130-gej4004j45qnkfu84qondno1slnn94ft</string>
		<key>API_KEY</key>
		<string>AIzaSyB0oAGmxlO8gy6r6BSQeyLFWVIhnHOEsMQ</string>
		<key>GCM_SENDER_ID</key>
		<string>634669023130</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.kalani.rosary</string>
		<key>PROJECT_ID</key>
		<string>therosary-92ab7</string>
		<key>STORAGE_BUCKET</key>
		<string>therosary-92ab7.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:634669023130:ios:b8dace31616ecc43f50423</string>
		<key>DATABASE_URL</key>
		<string>https://therosary-92ab7-default-rtdb.europe-west1.firebasedatabase.app</string>
	</dict>
</plist>